body {
    margin: 0;
    height: 5000px;
    background-color: #f8f5d6;
    text-align: center;
    font-family: 'Diphylleia', sans-serif; /* 기본 폰트 적용 */
}

section {
    height: 900px; 
    width: 100%; /* 너비를 화면 전체로 설정 */
    background-image: url("images/Qeenwedding.jpg");
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed; /* 배경 이미지 고정 */
}

h1{
    color: #797f26;
}

button {
    size: 300px;
    display: block;
    margin: 20px auto;
    padding: 10px 30px;
    background: linear-gradient(45deg, #797f26, #b4eeb4);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    color: rgb(250, 255, 192);
    font-size: 18px;
    font-family: 'Gowun Batang', serif;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background 0.3s, transform 0.3s;
}
.link{
    text-align: center;
    font-size: 20px;
}

.iframe {
    width: 100%;
    max-width: 1000px;
    height: 500px;
    border: 3px solid #ddd; /* 테두리 색상 */
    border-radius: 8px; /* 둥근 모서리 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 그림자 */
    overflow: hidden; /* 내용이 테두리를 넘지 않게 */
    background-color: #f9f9f9; /* 배경 색상 */
    transition: transform 0.3s ease; /* 호버 효과를 위한 전환 */
}

.iframe:hover {
    transform: scale(1.02); /* 호버 시 확대 효과 */
    border-color: #bbb; /* 호버 시 테두리 색상 변경 */
}
.imgp{
    padding: 150px;
    font-size: 50px;
    color:#fffacf;
    background-image: url("images/Qeenwedding2.png");
    /*background-size:  50px 50px;*/
    background-position: 200px;
}
.imagescontainer{
    width: 20px;
    height: 30px;
}
.left-img {
    float: left; /* 이미지 왼쪽으로 배치 */
    margin-right: 10px; /* 이미지와 다른 요소 사이에 간격 추가 */
}
.text{
    color:#4b4f13;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-top: 20px;
    font-size: 40px;
}
.picturer2{
    float: right; /* 이미지 왼쪽으로 배치 */
    margin-right: 10px; 
}
.text2{
    color: #4b4f13;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-top: 20px;
    font-size: 35px;
}